define contact{
        contact_name                    David
        use                             generic-contact
   #ÒÓgeneric-contactµÄôÅ¢£¬ÆÖ¡°generic-contact¡±Ôtemplates.cfgÎ¼þÖ½øÒ
        alias                           Nagios Admin
        email                           15088256320@139.com
        }

define contactgroup{
        contactgroup_name       admins  
                            #jϵÈ×µÄû¬Ñ²»Ä¿ոñ    
        alias                   Technical Support      
         #jϵÈ×ÃÊ
        members                 David                
           #jϵÈ×³É±£¬ÆÖ¡°david¡±¾ÍÇÏ涨ÒµÄªϵÈ£¬È¹û¸öµÈÔÒ¶ººÅà
        }
